
root = true

[*]
charset = utf-8
end_of_line = crlf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

# Visual Studio Spell Checker
spelling_exclusion_path = .\exclusion.dic
spelling_languages = en-us

[*.{config,csproj,graphviz,json,props,ruleset,targets,yml}]
indent_size = 2

[*.{received,verified}.{txt,xml,json}]
charset = utf-8-bom
end_of_line = lf
indent_size = unset
indent_style = unset
insert_final_newline = false
tab_width = unset
trim_trailing_whitespace = false

[*.{cs,ts}]
file_header_template = Copyright (c) Martin Costello, 2017. All rights reserved.\nLicensed under the Apache 2.0 license. See the LICENSE file in the project root for full license information.

[*.cs]

dotnet_analyzer_diagnostic.category-Style.severity = warning

dotnet_diagnostic.IDE0005.severity = silent
dotnet_diagnostic.IDE0045.severity = silent
dotnet_diagnostic.IDE0046.severity = silent
dotnet_diagnostic.IDE0058.severity = silent
dotnet_diagnostic.IDE0072.severity = silent
dotnet_diagnostic.IDE0079.severity = silent

dotnet_sort_system_directives_first = true

dotnet_style_qualification_for_field = false:suggestion
dotnet_style_qualification_for_property = false:suggestion
dotnet_style_qualification_for_method = false:suggestion
dotnet_style_qualification_for_event = false:suggestion

dotnet_style_predefined_type_for_locals_parameters_members = true:suggestion
dotnet_style_predefined_type_for_member_access = true:suggestion

dotnet_style_coalesce_expression = true:suggestion
dotnet_style_collection_initializer = true:suggestion
dotnet_style_explicit_tuple_names = true:suggestion
dotnet_style_null_propagation = true:suggestion
dotnet_style_object_initializer = true:suggestion

csharp_style_var_for_built_in_types = false:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion
csharp_style_var_elsewhere = true:suggestion

csharp_style_expression_bodied_constructors = false:none
csharp_style_expression_bodied_methods = false:none
csharp_style_expression_bodied_operators = false:none

csharp_style_expression_bodied_accessors = true:none
csharp_style_expression_bodied_indexers = true:none
csharp_style_expression_bodied_properties = true:none

csharp_style_expression_bodied_local_functions = when_on_single_line

csharp_style_conditional_delegate_call = true:suggestion
csharp_style_inlined_variable_declaration = true:suggestion
csharp_style_namespace_declarations = file_scoped
csharp_style_pattern_matching_over_is_with_cast_check = true:suggestion
csharp_style_pattern_matching_over_as_with_null_check = true:suggestion
csharp_style_throw_expression = true:suggestion

csharp_new_line_before_catch = true
csharp_new_line_before_else = true
csharp_new_line_before_finally = true
csharp_new_line_before_open_brace = all
csharp_new_line_before_members_in_anonymous_types = true
csharp_new_line_before_members_in_object_initializers = true
