.DS_Store
.dockershare
.dotnetcli
.metadata
.settings
.vs
_Chutzpah*
_ReSharper*
_reports
_UpgradeReport_Files/
artifacts/
Backup*/
BenchmarkDotNet.Artifacts*/
bin
Bin
BuildOutput
cdp.pid
coverage
coverage.*
MSBuild_Logs/
node_modules
obj
packages
project.lock.json
src/LondonTravel.Site/.config/
src/LondonTravel.Site/assets/scripts/ts/**/*.js
src/LondonTravel.Site/assets/scripts/ts/**/*.js.map
src/LondonTravel.Site/Properties/ServiceDependencies/
src/LondonTravel.Site/wwwroot/assets/*
!src/LondonTravel.Site/wwwroot/assets/img/
src/LondonTravel.Site/wwwroot/lib/*
TestResults
typings
UpgradeLog*.htm
UpgradeLog*.XML
PublishProfiles
*.DotSettings
*.GhostDoc.xml
*.log
*.nupkg
*.opensdf
*.p8
*.pfx
*.[Pp]ublish.xml
*.publishproj
*.pubxml
*.received.*
*.sdf
*.sln.cache
*.sln.docstates
*.sln.ide
*.suo
*.user
