<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="aspnet-contrib" value="https://www.myget.org/F/aspnet-contrib/api/v3/index.json" />
    <add key="dotnet-eng" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-eng/nuget/v3/index.json" />
    <add key="openapi-extensions" value="https://f.feedz.io/martincostello/openapi-extensions/nuget/index.json" />
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="aspnet-contrib">
      <package pattern="AspNet.Security.OAuth.*" />
    </packageSource>
    <packageSource key="dotnet-eng">
      <package pattern="Microsoft.DotNet.XliffTasks" />
    </packageSource>
    <packageSource key="openapi-extensions">
      <package pattern="MartinCostello.OpenApi.Extensions" />
    </packageSource>
    <packageSource key="NuGet">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
