<div class="modal sign-in-modal" tabindex="-1" role="dialog" aria-describedby="sign-in-modal-description" aria-labelledby="sign-in-modal-title">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-ga-label="Sign-In Dismiss">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="sign-in-modal-title">Signing in...</h4>
                <div class="sr-only" id="sign-in-modal-description">Please wait while you are redirected to sign-in.</div>
            </div>
            <div class="modal-body">
                <p>
                    <div class="center-block loader" aria-hidden="true"></div>
                </p>
            </div>
        </div>
    </div>
</div>
