@model Microsoft.AspNetCore.Http.Authentication.AuthenticationDescription
<button type="submit" class="btn btn-block btn-social @Html.GetSocialLoginButtonCss(Model.AuthenticationScheme)" name="provider" value="@Model.AuthenticationScheme" title="Sign in using your @Model.DisplayName account" data-toggle="modal" data-target=".sign-in-modal">
    @await Html.PartialAsync("_SocialIcon", Model.AuthenticationScheme)
    Sign in using your @Model.DisplayName account
</button>
