@model int?
@{
    ViewBag.MetaDescription = string.Empty;
    ViewBag.MetaRobots = "NOINDEX";
    ViewBag.Title = SR.ErrorTitle;
    ViewBag.Message = ViewBag.Message ?? SR.ErrorMessage;
}
<h1 class="text-danger">@SR.ErrorSubtitle(Model)</h1>
<h2 class="text-danger">@ViewBag.Message</h2>
