@{
    ViewBag.MetaDescription = SR.TermsOfServiceMetaDescription;
    ViewBag.Title = SR.TermsOfServiceMetaTitle;
}
<div>
    <h1>@SR.TermsOfServiceTitle</h1>
    <p>
        @* TODO Add content *@
        This is where the Terms of Service for the London Travel Alexa skill will be.
    </p>
</div>
