@{
    ViewBag.MetaDescription = "The Terms of Service for the London Travel Alexa skill and website.";
    ViewBag.Title = "Terms of Service";
}
<div>
    <h1>London Travel Terms of Service</h1>
    <p>
        This is where the Terms of Service for the London Travel Alexa skill will be.
    </p>
</div>
