.travel-line {
}

.travel-line-bakerloo {
    background: #894e24;
}

.travel-line-central {
    background: #dc241f;
}

.travel-line-circle {
    background: #ffce00;
}

.travel-line-district {
    background: #007229;
}

.travel-line-dlr {
    background: #00afad;
}

.travel-line-hammersmith-city {
    background: #d799af;
}

.travel-line-jubilee {
    background: #6a7278;
}

.travel-line-london-overground {
    background: #e86a10;
}

.travel-line-metropolitan {
    background: #751056;
}

.travel-line-northern {
    background: #000;
}

.travel-line-piccadilly {
    background: #0019a8;
}

.travel-line-tram {
    background: #6c0;
}

.travel-line-victoria {
    background: #00a0e2;
}

.travel-line-waterloo-city {
    background: #76d0bd;
}
