@{
    ViewBag.MetaDescription = string.Empty;
    ViewBag.MetaRobots = "NOINDEX";
    ViewBag.Title = SR.AccessDeniedTitle;
}
<h1 class="text-danger">@SR.AccessDeniedTitle</h1>
<h2 class="text-danger">@SR.AccessDeniedSubtitle</h2>
