@{
    ViewBag.MetaDescription = string.Empty;
    ViewBag.MetaRobots = "NOINDEX";
    ViewBag.Title = "Access denied";
}
<h1 class="text-danger">Access denied</h1>
<h2 class="text-danger">You do not have access to this resource.</h2>
