@{
    ViewBag.MetaDescription = string.Empty;
    ViewBag.MetaRobots = "NOINDEX";
    ViewBag.Title = SR.SignInErrorTitle;
}
<h1 class="text-danger">@SR.SignInErrorTitle</h1>
<h2 class="text-danger">@SR.SignInErrorSubtitle</h2>
