@{
    ViewBag.MetaDescription = string.Empty;
    ViewBag.MetaRobots = "NOINDEX";
    ViewBag.Title = SR.AccountLockedTitle;
}
<h1 class="text-danger">@SR.AccountLockedTitle</h1>
<h2 class="text-danger">@SR.AccountLockedSubtitle</h2>
