@{
    ViewBag.MetaDescription = "Register for a London Travel account.";
    ViewBag.Title = "Register";
}
@await Html.PartialAsync("_SignInErrors")
<div class="row">
    <div class="col-md-12">
        <section>
            <h2>Register for an account</h2>
            <p class="lead">
                Registering for an account for the London Travel skill allows you to save
                your tube line and station preferences so that you can ask about your commute.
            </p>
            <blockquote>
                <p><i>&quot;Alexa, ask London Travel what my commute's like today?&quot;</i></p>
            </blockquote>
            <p>
                If you do not already have a London Travel account, you can create one by signing in with one of the services below.
            </p>
            <p>
                The London Travel account created will use with email address associated with the service you sign in with.
            </p>
            <p>
                Accounts and their data are managed by this service in line with the
                <a asp-route="@SiteRoutes.PrivacyPolicy" rel="noopener" title="View the London Travel Alexa skill's Privacy Policy">
                    Privacy Policy
                </a>
                and
                <a asp-route="@SiteRoutes.TermsOfService" rel="noopener" title="View the London Travel Alexa skill's Terms of Service">
                    Terms of Service
                </a>.
            </p>
        </section>
    </div>
</div>
<hr />
<h4>
    Choose a service to sign-in with:
</h4>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4">
        <section>
            @await Html.PartialAsync("_SignInForm")
        </section>
    </div>
</div>
@await Html.PartialAsync("_SignInModal")
@section stylesBody {
    @await Html.PartialAsync("_SocialButtonsScripts")
}
