@inject Microsoft.AspNetCore.Identity.SignInManager<LondonTravelUser> SignInManager
@{
    ViewBag.MetaDescription = "Register for a London Travel account.";
    ViewBag.Title = "Register";
}
@if (ViewBag.PermissionDenied == true)
{
    <div class="alert alert-danger" role="alert">
        <p>
            You did not grant permission for London Travel to access your email address when you signed in.
        </p>
        <p>
            An email address is required to register.
        </p>
    </div>
}
else if (ViewBag.IsAlreadyRegistered == true)
{
    <div class="alert alert-warning" role="alert">
        <p>
            You have already created a London Travel account by signing in with a
            different service to the one you just tried to sign in with.
        </p>
        <p>
            Sign in with one of the service(s) you've already used to sign-in,
            then you'll be able to link other service(s) to your account
            from the <a asp-route="Manage" class="alert-link">account mangement</a> page.
        </p>
    </div>
}
<div class="row">
    <div class="col-md-12">
        <section>
            <h2>Register for an account</h2>
            <p class="lead">
                Registering for an account for the London Travel skill allows you to save
                your tube line and station preferences so that you can ask about your commute.
            </p>
            <blockquote>
                <p><i>&quot;Alexa, ask London Travel what my commute's like today?&quot;</i></p>
            </blockquote>
            <p>
                If you do not already have a London Travel account, you can create one by signing in with one of the services below.
            </p>
            <p>
                The London Travel account created will use with email address associated with the service you sign in with.
            </p>
            <p>
                Accounts and their data are managed by this service in line with the
                <a asp-route="PrivacyPolicy" rel="noopener" title="View the London Travel Alexa skill's Privacy Policy">
                    Privacy Policy
                </a>
                and
                <a asp-route="TermsOfService" rel="noopener" title="View the London Travel Alexa skill's Terms of Service">
                    Terms of Service
                </a>.
            </p>
        </section>
    </div>
</div>
<hr />
<h4>
    Choose a service to sign-in with:
</h4>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4">
        <section>
            <form asp-route="ExternalSignIn" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                <div>
                    <p>
                        @foreach (var provider in SignInManager.GetExternalAuthenticationSchemes().OrderBy((p) => p.DisplayName).ThenBy((p) => p.AuthenticationScheme))
                        {
                            @await Html.PartialAsync("_SocialButton", provider)
                        }
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>
@section stylesBody {
    @await Html.PartialAsync("_SocialButtonsScripts")
}
