@{
    ViewBag.MetaDescription = "Sign in to your London Travel account.";
    ViewBag.MetaRobots = "NOINDEX";
    ViewBag.Title = "Sign in";
}
@await Html.PartialAsync("_SignInErrors")
<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-md-4">
        <section>
            <h4>Choose a service to sign in with:</h4>
            <hr />
            @await Html.PartialAsync("_SignInForm")
        </section>
    </div>
    <hr class="hidden-md hidden-lg" />
    <div class="col-md-8">
        <section>
            <h3>...or register a new account</h3>
            <p>
                If you do not already have a London Travel account, register for one <a asp-route="@SiteRoutes.Register" title="Register for a London Travel account">here</a>.
            </p>
            <p>
                <a class="btn btn-primary btn-lg" asp-route="@SiteRoutes.Register" title="Register for a London Travel account">Register <i class="fa fa-user-plus" aria-hidden="true"></i></a>
            </p>
        </section>
    </div>
</div>
@await Html.PartialAsync("_SignInModal")
@section stylesBody {
    @await Html.PartialAsync("_SocialButtonsScripts")
}
