<div class="modal remove-link-modal" tabindex="-1" role="dialog" aria-describedby="remove-link-modal-description" aria-labelledby="remove-link-modal-title">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="remove-link-modal-title">Removing account link...</h4>
                <div class="sr-only" id="remove-link-modal-description">Please wait while your account link is removed.</div>
            </div>
            <div class="modal-body">
                <p>
                    <div class="center-block loader" aria-hidden="true"></div>
                </p>
            </div>
        </div>
    </div>
</div>
