@{
    ViewBag.MetaDescription = "Manage your account details for the London Travel skill.";
    ViewBag.MetaRobots = "NOINDEX";
    ViewBag.Title = "Manage your account";
}
<div>
    <h1>Manage Your Account</h1>
    <p>
        This is where you will be able manage your London Travel account.
    </p>
</div>
