<div class="modal sign-in-modal" tabindex="-1" aria-describedby="sign-in-modal-description" aria-labelledby="sign-in-modal-title">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="sign-in-modal-title">@SR.SigningInModalTitle</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="@SR.CloseButtonText" data-ga-label="Sign-In Dismiss"></button>
                <div class="visually-hidden" id="sign-in-modal-description">@SR.SigningInModalDescription</div>
            </div>
            <div class="modal-body d-flex aligns-items-center justify-content-center">
                <p>
                    <div class="loader" aria-hidden="true"></div>
                </p>
            </div>
        </div>
    </div>
</div>
