<div class="alert alert-info" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="@SR.CloseButtonText" data-ga-label="Dismiss Skill Not Linked">
        <span aria-hidden="true">&times;</span>
    </button>
    <p class="lead">
        @SR.SkillNotLinkedTitle
    </p>
    <p>
        @SR.SkillNotLinkedDescription
    </p>
</div>
