@inject SiteOptions Options
@{
    ViewBag.Title = "Home";
}
<div class="jumbotron">
    <h1>London Travel</h1>
    <p class="lead">
        An Amazon Alexa skill for checking the status of travel in London.
    </p>
    <p>
        <a class="btn btn-primary btn-lg" href="@Options?.ExternalLinks?.Skill" rel="noopener" target="_blank" title="Install London Travel for Amazon Alexa from amazon.co.uk">Install <i class="fa fa-external-link" aria-hidden="true"></i></a>
        @if (!User.Identity.IsAuthenticated)
        {
            <a class="btn btn-primary btn-lg" asp-route="Register" title="Register for a London Travel account">Register <i class="fa fa-user-plus" aria-hidden="true"></i></a>
            <a class="btn btn-primary btn-lg" asp-route="SignIn" title="Sign in to your London Travel account">Sign In <i class="fa fa-sign-in" aria-hidden="true"></i></a>
        }
    </p>
</div>
