@{
    ViewBag.MetaDescription = SR.PrivacyPolicyMetaDescription;
    ViewBag.Title = SR.PrivacyPolicyMetaTitle;
}
<div>
    <h1>@SR.PrivacyPolicyTitle</h1>
    <p>
        @* TODO Add content *@
        This is where the Privacy Policy for the London Travel Alexa skill will be.
    </p>
</div>
