@if (User?.Identity?.IsAuthenticated != true &&
     string.Equals(Context.Request.Query["Message"], nameof(SiteMessage.AccountDeleted), StringComparison.OrdinalIgnoreCase))
{
    <div class="alert alert-success" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="@SR.CloseButtonText" data-ga-label="Dismiss Account Deleted"></button>
        <p class="lead">
            @SR.AccountDeletedTitle
        </p>
        <p>
            @SR.AccountDeletedContent
        </p>
    </div>
}
