<div class="alert alert-info" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="@SR.CloseButtonText" data-ga-label="Dismiss Skill Not Linked"></button>
    <p class="lead">
        @SR.SkillNotLinkedTitle
    </p>
    <p>
        @SR.SkillNotLinkedDescription
    </p>
</div>
