<div class="modal update-preferences-modal" tabindex="-1" role="dialog" aria-describedby="update-preferences-description" aria-labelledby="update-preferences-modal-title">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="update-preferences-modal-title">@SR.UpdateProgressModalTitle</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="@SR.CloseButtonText" data-ga-label="Save Preferences Dismiss"></button>
                <div class="visually-hidden" id="update-preferences-modal-description">@SR.UpdateProgressModalDescription</div>
            </div>
            <div class="modal-body d-flex align-items-center justify-content-center">
                <p>
                    <div class="loader" aria-hidden="true"></div>
                </p>
            </div>
        </div>
    </div>
</div>
