@page "/"
@model MartinCostello.LondonTravel.Site.Pages.Home.Index
@{
    ViewBag.Title = SR.HomepageTitle;
}
@await Html.PartialAsync("_Alerts", Model)
@if (!Model!.IsAuthenticated)
{
    @await Html.PartialAsync("_Jumbotron")
    <div>
        <p>
            London Travel is an Amazon Alexa skill allows you to ask Alexa for information about disruption on public transport in London.
        </p>
        <p>
            For example, you can ask about disruption affecting London Underground, London Overground, the Docklands Light Railway (DLR)
            and the Elizabeth line as a whole, or you can ask for information about a specific line.
        </p>
        <p>
            If you create an account with London Travel and link it with the
            <a href="@Options.ExternalLinks?.Skill" rel="noopener noreferrer" title="Install the London Travel skill from amazon.co.uk" data-ga-label="Install Skill Link">Alexa app</a>,
            you can also ask about your commute for your favourite lines. You can
            <a asp-page="@SiteRoutes.Register" rel="noopener" title="Register for a London Travel account" data-ga-label="Register Account Link">create an account</a>
            with London Travel using a login for existing accounts with other services, such as Amazon, Google and Twitter.
        </p>
    </div>
}
else if (Model.AllLines.Any())
{
    @await Html.PartialAsync("_Preferences", Model)
}
