<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <httpErrors errorMode="Custom">
      <remove statusCode="400" />
      <remove statusCode="404" />
      <remove statusCode="500" />
      <remove statusCode="502" />
      <error statusCode="400" responseMode="File" path="wwwroot\bad-request.html" />
      <error statusCode="404" responseMode="File" path="wwwroot\not-found.html" />
      <error statusCode="500" responseMode="File" path="wwwroot\error.html" />
      <error statusCode="502" responseMode="File" path="wwwroot\error.html" />
    </httpErrors>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering removeServerHeader="true">
        <requestLimits maxQueryString="4096" />
      </requestFiltering>
    </security>
    <urlCompression doDynamicCompression="true" doStaticCompression="true" />
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore disableStartUpErrorPage="true" processPath="dotnet" arguments=".\LondonTravel.Site.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="InProcess" />
  </system.webServer>
</configuration>
<!--ProjectGuid: F1A4074F-A8DE-4A9A-97EF-91830AEC59B3-->