parameters:
  agentOS: 'Windows'
  phaseName: ''
  queueName: ''
  buildArgs: ''
  beforeBuild: []
  afterBuild: []
  variables: {}
  dependsOn: ''
  artifacts:
    archiveName: 'app.zip'
    publish: true

phases:
  - phase: ${{ coalesce(parameters.phaseName, parameters.agentOS) }}
    dependsOn: ${{ parameters.dependsOn }}
    displayName: ${{ coalesce(parameters.phaseName, parameters.agentOS) }}
    queue:
      ${{ if ne(parameters.queueName, '') }}:
        name: ${{ parameters.queueName }}
      ${{ if and(eq(parameters.queueName, ''), eq(parameters.agentOS, 'Linux')) }}:
        name: Hosted Ubuntu 1604
      ${{ if and(eq(parameters.queueName, ''), eq(parameters.agentOS, 'macOS')) }}:
        name: Hosted macOS
      ${{ if and(eq(parameters.queueName, ''), eq(parameters.agentOS, 'Windows')) }}:
        name: Hosted Windows 2019 with VS2019
    variables:
      AgentOSName: ${{ parameters.agentOS }}
      ArchiveName: ${{ parameters.artifacts.archiveName }}
      BuildArgs: ${{ parameters.buildArgs }}
      ${{ insert }}: ${{ parameters.variables }}
    steps:
      - ${{ parameters.beforeBuild }}
      - task: UseDotNet@2
        displayName: 'Setup .NET Core SDK'
        inputs:
          useGlobalJson: true
      - pwsh: |
          ./build.ps1 -OutputPath $(Build.StagingDirectory) $(BuildArgs)
        name: BuildAndTest
        displayName: Build and test
        timeoutInMinutes: 20
        env:
          DOTNET_CLI_TELEMETRY_OPTOUT: true
          DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
          NUGET_XMLDOC_MODE: skip
      - ${{ if eq(parameters.agentOS, 'Windows') }}:
        - task: ArchiveFiles@2
          name: Package
          displayName: Create deployment package
          inputs:
            rootFolderOrFile: '$(Build.StagingDirectory)/publish'
            includeRootFolder: false
            archiveFile: '$(Build.StagingDirectory)/$(ArchiveName)'
            condition: succeeded()
      - task: PublishTestResults@2
        name: PublishTests
        displayName: Publish test results
        condition: always()
        inputs:
          failTaskOnFailedTests: true
          testRunner: VSTest
          testRunTitle: Unit and integration tests ($(AgentOSName))
          testResultsFiles: $(Build.SourcesDirectory)/**/*.trx
      - task: PublishCodeCoverageResults@1
        name: PublishCodeCoverage
        displayName: Publish code coverage
        condition: always()
        inputs:
          codeCoverageTool: cobertura
          reportDirectory: $(Build.StagingDirectory)/**/coverage
          summaryFileLocation: $(Build.StagingDirectory)/coverage.cobertura.xml
      - task: PublishBuildArtifacts@1
        displayName: Publish build artifacts
        condition: eq(variables['System.PullRequest.IsFork'], false)
        inputs:
          PathToPublish: '$(Build.StagingDirectory)'
          ArtifactType: Container
          ${{ if eq(parameters.artifacts.name, '') }}:
            ArtifactName: BuildDrop-$(AgentOSName)
          ${{ if ne(parameters.artifacts.name, '') }}:
            ArtifactName: ${{ parameters.artifacts.name }}
      - ${{ if eq(parameters.agentOS, 'Windows') }}:
        - task: PublishBuildArtifacts@1
          displayName: Publish deployment package
          inputs:
            PathtoPublish: '$(Build.StagingDirectory)/$(ArchiveName)'
            ArtifactName: DeploymentPackage
            condition: and(succeeded(), eq(variables['System.PullRequest.IsFork'], false))
      - ${{ parameters.afterBuild }}
