name: benchmark

env:
  DOTNET_CLI_TELEMETRY_OPTOUT: true
  DOTNET_NOLOGO: true
  DOTNET_SYSTEM_CONSOLE_ALLOW_ANSI_COLOR_REDIRECTION: 1
  NUGET_XMLDOC_MODE: skip
  TERM: xterm

on:
  push:
    branches:
      - main
      - dotnet-vnext
      - dotnet-nightly
    paths-ignore:
      - '**/*.gitattributes'
      - '**/*.gitignore'
      - '**/*.md'
  workflow_dispatch:

permissions: {}

jobs:
  benchmark:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:

    - name: Checkout code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        filter: 'tree:0'
        persist-credentials: false
        show-progress: false

    - name: Setup .NET SDK
      uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5.1.0

    - name: Setup Node
      uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
      with:
        node-version: '24.x'

    - name: Run benchmarks
      shell: pwsh
      run: ./benchmark.ps1

    - name: Publish BenchmarkDotNet artifacts
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      if: ${{ !cancelled() }}
      with:
        name: artifacts
        path: ./BenchmarkDotNet.Artifacts/results/*
        if-no-files-found: error

    - name: Get repository name
      id: get-repo-name
      shell: pwsh
      run: |
        $repoName = ${env:GITHUB_REPOSITORY}.Split("/")[-1]
        "repo-name=${repoName}" >> ${env:GITHUB_OUTPUT}

    - name: Publish results
      uses: martincostello/benchmarkdotnet-results-publisher@8ec1d7f1ee9854674aabb3f2b06a5afae1bec8ae # v2.0.1
      with:
        branch: ${{ github.ref_name }}
        comment-on-threshold: true
        name: LondonTravel.Site
        output-file-path: '${{ steps.get-repo-name.outputs.repo-name }}/data.json'
        repo: '${{ github.repository_owner }}/benchmarks'
        repo-token: ${{ secrets.BENCHMARKS_TOKEN }}

    - name: Output summary
      shell: pwsh
      env:
        REPO_NAME: ${{ steps.get-repo-name.outputs.repo-name }}
      run: |
        $summary += "`n`n"
        $summary += "View benchmark results history [here](https://benchmarks.martincostello.com/?repo=${env:REPO_NAME}&branch=${env:GITHUB_REF_NAME})."
        $summary >> ${env:GITHUB_STEP_SUMMARY}
